
*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/* logo design here */

.navbar-brand img{
    width: 45px;
    height:10vh;
    
  }
  
  .navbar-brand strong{
    margin-left: 0;
    background: linear-gradient(180deg, brown, green);
    padding: 0;
    font-size: 15px;
  }

  /* card design here */

  .card{
    width: 20rem;
    height: 20vh;
  }
  
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transform: scale(1.1);
      }
   .card-body, span{
    text-align: center;
   }
   .card-text{
    margin-top: 20px;
    font-size: 20px;
   
   }
   .card-text a{
    text-decoration: none;
    color: #333333;
   }
   .button-wrap a, button{
    margin-top: 80px;
    width: 50%;
    margin-top: 200px;
   }
   .button-wrap, a{
    text-align: center;

   }
  
