
      * {
        padding: 0;
        margin: 0;
        overflow: hidden;
      }
      .navbar-brand img {
        width: 45px;
        height: 10vh;
      }
      .navbar-brand strong {
        margin-left: 0;
        background: linear-gradient(180deg, brown, green);
        padding: 0;
        font-size: 15px;
      }
      .col, select {
        width: 100%;
        padding: 5px;
        border-radius: 5px;
      }
      .note {
        text-align: center;
      }
      .color-p {
        color: red;
      }
      .check, label {
        margin-bottom: -5px;
      }
      .submit-btn {
        margin-top: 10px;
        justify-content: center;
        gap: 14px;
      }
      .submit-btn, a {
        padding: 5px 15px;
        border: none;
        border-radius: 4px;
      }
      .submit-btn, button {
        padding: 5px 15px;
        border: none;
        border-radius: 4px;
      }
      a {
        text-decoration: none;
        color: black;
      }
  