body{
    padding: 0;
    margin: 0;
    background-color: rgb(219, 215, 223);

    }

    .container{

    background-color: white;
    width: 35%;
    margin: auto;
    text-align: center;
    height: 70vh;
    margin-top: 50px;
    padding-top: 30px;
    border-radius: 15px;
    }

    h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;

    }

    .form-user{
    padding: 10px;

    }
    input[ type=text]{
    padding: 10px 120px;
    border-radius: 15px;
    background-color: lightgrey;
    border: 1px solid rgb(118, 154, 118);

    }
    input[ type=text]:focus{
    border: 1px solid lightcyan;
    border-radius: 15px;
    outline: none;
    color:white;
    


    }

    input[ type=password]{
        padding: 10px 120px;
    border-radius: 15px;
    background-color: lightgrey;
    border: 1px solid rgb(118, 154, 118);
    
    
    }
    input[ type=password]:focus{
    border: 1px solid lightcyan;
    border-radius: 15px;
    outline: none;
    color: white;
        
    }

    /* here is my placeholder design */

    ::placeholder{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 19px;

    }
        /* my user login button starts here */

    .login-user{
    padding: 8px 180px;
    background-color:rgb(61, 61, 180);
    border-radius: 15px;
    font-size: 30px;
    text-decoration: none;
    color: white;
    border: 2px solid lightgrey;
   

    }

        .login-user:hover{
        background-color: black ;
        color:white;


        }


    .login-button{
    margin: 15px;

    }

    a{
    text-decoration: none;

    }

    .span1, span{
    padding: 34px;
    color: black;
    font-size: 28px;
    margin-top: 20px;
    /* padding-top: 20px; */
    }

    hr{

    width: 60%;
    margin-top: 10px;
    border: 1px solid black;

    }
    .button-user{
    margin-bottom: 30px;
    margin-top: 20px;

    }

    /* .user1{
    padding: 10px 90px;
    background-color:rgb(58, 58, 224) ;
    border-radius: 12px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    border: 2px solid lightgrey;
    
    }
    .user1:hover{
    background-color: gray;
    color: black;

    }

    .user2{
        padding: 10px 100px;
        background-color:red ;
        border-radius: 15px;
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 15px;
        margin-top: 20px;
        border: 2px solid lightgrey;
        
    }
    .user2:hover{
    background-color: gray;
    color: black;
    
    } */


    




